@media screen and (max-width: 361px) {

#bottom1{
    display:none
}
#bottom2{
    display:none
}


#header-top #logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
    
}

#header-top #formularioBusqueda{
    
    width: 50%;
    flex: 0 0 50%;
  
}

}